<mat-drawer-container class="" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <div class="nav-button">
      <button class="button" mat-raised-button>
        injuries
      </button>
    </div>
    <div class="nav-button">
      <button class="button" mat-raised-button>
        supplies
      </button>
    </div>
  </mat-drawer>

  <div class="content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>

  <div class="search">
    <div class="mx-2 home">
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon class="mx-2 home">home</mat-icon>
      </button>
    </div>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Search Injury</mat-label>
      <input type="text" class="form-control" [(ngModel)]="search" matInput placeholder="Injury...">
    </mat-form-field>
  </div>

  <div class="list-container">
    <div class="list">
      <div *ngFor="let item of list | search: search">
        <mat-card class="card">{{ item }}</mat-card>
      </div>
    </div>
  </div>

</mat-drawer-container>
