<mat-drawer-container class="cont" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <div class="nav-button">
      <a routerLink="/injuries" class="button" mat-raised-button>
        INJURIES
      </a>
    </div>
    <div class="nav-button">
      <a routerLink="/supplies" class="button" mat-raised-button>
        SUPPLIES
      </a>
    </div>
  </mat-drawer>

  <div class="">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>

  <div class="search">
    <div class="mx-2 home">
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon class="mx-2 home">home</mat-icon>
      </button>
    </div>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Search Injury</mat-label>
      <input type="text" class="form-control" [(ngModel)]="search" matInput placeholder="Injury...">
    </mat-form-field>
  </div>

  <div *ngIf="list?.length && !selected" class="list-container">
    <div class="list">
      <div *ngFor="let item of list | search: search" (click)="select(item)">
        <mat-card class="card">{{ item }}</mat-card>
      </div>
    </div>
  </div>

  <mat-card>
    <mat-card-title>

    </mat-card-title>
  </mat-card>

  <div *ngIf="selected" class="list-container">
    <div class="injury-list" *ngIf="!data">
      <div class="injury-card" (click)="select(item)">
        <mat-card>
          <mat-card-title>No Data - Back</mat-card-title>
        </mat-card>
      </div>
    </div>
    <div class="injury-list">
      <mat-card class="injury-card">
        <mat-card-title>
          {{injury}}
        </mat-card-title>
      </mat-card>
    </div>
    <div class="injury-list">
      <div class="injury-card" *ngFor="let description of descriptions | search: search; let i = index" (click)="select(item);">
        <mat-card>
          <mat-card-title><p>Step {{i+1}}:</p></mat-card-title>
          <mat-card-title *ngIf="title?.length && title[i]"><p>{{ title[i] }}</p></mat-card-title>
          <mat-card-content *ngIf="description">{{ description }}</mat-card-content>
          <mat-card-content *ngIf="images?.length && images[i]"><img src="{{images[i]}}"></mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="injury-list" *ngIf="video">
      <mat-card class="injury-card">
        <mat-card-content>
          <vg-player>
            <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
                <source src="{{video}}" type="video/mp4">
            </video>
        </vg-player>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</mat-drawer-container>
