.form-field {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

mat-form-field {
  padding-top: 20px;
  height: 90px;
  width: 100%;
  z-index: 999;
  background-color: rgb(138, 216, 255);
}

mat-form-field-wrapper {
  padding-top: 18px;
  min-width: 100%;
}

.list-container {
  margin-top: 90px;
  overflow-y: scroll;
}

.list {
  min-height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 150px;
  height: 150px;
  margin: 10px;
}

.search {
  position: fixed;
  top: 0;
  width: 100%;
}
